* {
  background-image: none;
  font-family: JetBrainsMono Nerd Font;
  font-size: 50px;
}
window {
  background-color: rgba(40, 44, 52, 0.8);
}
button {
  color: #f6f7f9;
  background-color: #323842;
  border: none;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
}

button:active,
button:hover {
  background-color: #61afef;
  outline-style: none;
}
button:focus {
  outline-style: none;
  box-shadow: 0px 0px 5px 3px rgba(97, 175, 239, 0.75);
}
