window {
/* background-color: #21252B; */
/* margin: 5px; */
/* padding: 5px, 5px, 5px 5px; */
/* background-color: red; */
border-radius: 2px;
background-image: linear-gradient(135deg, #98C379, #C678DD);
}

#input {
font-family: Hack Nerd Font;
/* margin: 5px; */
border: 2px solid #21252B;
background-color: #282C34;
box-shadow: none;
color: #F6F7F9;
}

#inner-box {
/* margin: 5px; */
padding: 5px;
border: 2px solid #21252B;
background-color: #282C34;
}

#outer-box {
margin: 2px;
border: 2px solid #21252B;
background-color: #21252B;
}

#scroll {
/* margin: 5px; */
border: 2px solid #21252B;
background-color: #21252B;
}

#text {
font-family: Hack Nerd Font;
margin: 5px;
color: #F6F7F9;
/* border: 2px solid cyan; */
/* background-color: cyan; */
} 

#entry:selected {
background-color: #323842;
border: 1px solid #61AFEF;
}
